/* ========== At first, set Defaults back to zero ========== */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,table,tr,td,thead,tbody{
	margin:0px; 
	padding:0px; 
	font-weight:normal;
	border:0px;
}

ul, ol{
	padding-left:2em;
}

/* == Now the basics == */

html, body{
	font:100%/1.45 Georgia, serif;		
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1 {
	font-size:18px;
	margin:3em 0em 2em 1em;
}

/* == Header == */

#header{
	background-color:lightgrey;
	padding:10px;
}

#header h1{
	display:inline
}

#header h1 a{
	color:black;
	text-decoration:none;
}

#header p{
	color:dimgrey;
	display:inline;	
}

#header p a{
	color:black;
}

#ismyblog{
	margin-left:40px;
}

#forwardbackward{
	margin-left:350px;
}


/* == Sidebar == */

#sidebar{
	width:210px;
	float:left;
	padding-top:4em;
	height:100%;
	
}

#sidebar ul{
	
	list-style-type:none;
	margin-bottom:2em;
}


#sidebar p{
	margin-left:2em;
	margin-bottom:2em;
}

#sidebar img{
	width:200px;
}


#sidebar a{
	color:grey;
	
}

#sidebar a:hover{
	color:black;
	text-decoration:none;
}

/* Arena */

#arena{
	margin-left:200px;
	padding-left:50px;
	padding-top:50px;
	border-left:10px solid lightgrey;	
	
}

#document{
	min-height:400px;
}


.text{
	width:30em;
}

.text img{
	max-width:400px;
}

.moblog .text{
	width:1000px;
}

.moblog .text img {
	max-width:1000px;
}

#margins{
	position:absolute;
	left:820px;
}



/* == Teaser ==*/

.teaser {
	min-height:250px;
	padding-bottom:2em;
}

.teaser .teaserimage{
	margin-top:-1.5em;
	position:absolute;
	left:820px;
}

.teaser .teaserimage img{
	width:200px;
}

.teaser .readon{
	font-style:italic;
}

.teaser .meta{
	color:grey;
	font-style:italic;
}


/* == Margins == */

#margins .teaserimage{
	margin-bottom:2em;
}

#margins ul{
	list-style-type:none;
	color:gray;

}

/* == Inline Elements ==*/



.text p,
.text h3,
.text h4,
.text h5,
.text h6,
.text ol,
.text ul,
.text dl,
.text table{
	margin-bottom:2em;
}

hr.break{
	display:none;
}



.text p.volleBreitseite{
	width:800px;
	
	margin-top:1em;
	

}

.text p.volleBreitseite img{
	max-width:740px !important; 
	border:10px solid lightgrey;
}


/* == Footer == */
#footer {
	background-color:lightgrey;
	padding:20px 0 10px 0px;	
}

#footer span{
	padding-left:50px;
}

/* == Comments == */

#comments{
	margin-top:10em;
	margin-bottom:4em;
}

#comments h3{
	margin-bottom:1em;
}

.comment{
	width:30em;
	margin-bottom:2em;	
}

.commentator{
	margin-top:-2em;
	text-align:right;
	font-style:italic;
}

/* == Comments Form== */



#comments form{
	margin-top:4em;
	background-color:lightgrey;	
	padding:20px;
	padding-left:65px;
	position:relative;	
	left:-60px;
	width:30em;
	
}

#comments textarea{
	font:100%/1.45 Georgia, serif;		
	width:30em;
	height:10em;
}

#comments input{
	font:100%/1.45 Georgia, serif;	
	width:15em;
	margin-top:0.5em;
}

#comments .submit{
	border:1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
}