/* ========== At first, set Defaults back to zero ========== */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,table,tr,td,thead,tbody{
	margin:0px; 
	padding:0px; 
	font-weight:normal;
	border:0px;
}

ul, ol{
	padding-left:2em;
}

/* == Now the basics == */

html, body{
	font:100%/1.45 Georgia, serif;		
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1 {
	font-size:18px;
	margin:3em 0em 2em 1em;
}

/* == Sidebar == */

#sidebar{
	width:210px;
	float:left;
	
	height:100%;
	
}

#sidebar ul{
	list-style-type:none;
}

#sidebar img{
	width:200px;
}


#sidebar a{
	color:grey;
	
}

#sidebar a:hover{
	color:black;
	text-decoration:none;
}

/* Arena */

#arena{
	margin-left:200px;
	padding-left:50px;
	padding-top:50px;
	border-left:1px solid lightgrey;	
	
}

#arena .text{
	width:30em;
}

#arena .text img{
	max-width:400px;
}


.teaserimage{
	position:absolute;
	left:850px;
}

/* == Teaser ==*/

.teaser {
	min-height:250px;
	margin-bottom:2em;
}

.teaser .teaserimage{
	margin-top:-1.5em;
}

.teaser .teaserimage img{
	width:200px;
}

.teaser .readon{
	font-style:italic;
}

.teaser .meta{
	color:grey;
	font-style:italic;
}


/* == Inline Elements ==*/



.text p,
.text h3,
.text h4,
.text h5,
.text h6,
.text ol,
.text ul,
.text dl,
.text table{
	margin-bottom:2em;
}

hr.break{
	display:none;
}

/* == Footer == */
.footer {
	margin-top:100px;
	margin-left:200px;
	padding-left:50px;
	margin-bottem:200px;
}

/* == Comments == */

#comments{
	margin-top:10em;
	margin-bottom:4em;
}

#comments h3{
	margin-bottom:1em;
}

.comment{
	width:30em;
	margin-bottom:2em;	
}

.commentator{
	margin-top:-2em;
	text-align:right;
	font-style:italic;
}

/* == Comments Form== */

#comments form{
	margin-top:4em;
}

#comments textarea{
	font:100%/1.45 Georgia, serif;		
	width:30em;
	height:10em;
}

#comments input{
	font:100%/1.45 Georgia, serif;	
	width:15em;
	margin-top:0.5em;
}

#comments .submit{
	border:1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
}